<div class="ui-helper-clearfix" style="margin-top: 50px"></div>

<div class="ui-g dashboard">
  <div class="ui-g-12">

    <!-- <div id="viewStage">
    	<div id="cube1" class="cube" >
    		<div class="facefront fb"></div>
    		<div class="faceback fb"></div>
    		<div class="faceleft lr"></div>
    		<div class="faceright lr"></div>
    		<div class="facetop tb"></div>
    		<div class="facebottom tb"></div>
    	</div>
    	<div id="cube2" class="cube" >
    		<div class="facefront fb"></div>
    		<div class="faceback fb"></div>
    		<div class="faceleft lr"></div>
    		<div class="faceright lr"></div>
    		<div class="facetop tb"></div>
    		<div class="facebottom tb"></div>
    	</div>
    	<div id="cube3" class="cube" >
    		<div class="facefront fb"></div>
    		<div class="faceback fb"></div>
    		<div class="faceleft lr"></div>
    		<div class="faceright lr"></div>
    		<div class="facetop tb"></div>
    		<div class="facebottom tb"></div>
    	</div>
    </div> -->

    <!-- <div id="viewStage">
    	<div id="cube1" class="cube" >
    		<div class="facefront fb"></div>
    		<div class="facebck fb"></div>
    		<div class="faceleft lr"></div>
    		<div class="faceright lr"></div>
    		<div class="facetop tb"></div>
    		<div class="facebottom tb"></div>
    	</div>
    	<div id="cube2" class="cube reverse" >
    		<div class="facefront fb"></div>
    		<div class="facebck fb"></div>
    		<div class="faceleft lr"></div>
    		<div class="faceright lr"></div>
    		<div class="facetop tb"></div>
    		<div class="facebottom tb"></div>
    	</div>
    	<div id="cube3" class="cube" >
    		<div class="facefront fb"></div>
    		<div class="facebck fb"></div>
    		<div class="faceleft lr"></div>
    		<div class="faceright lr"></div>
    		<div class="facetop tb"></div>
    		<div class="facebottom tb"></div>
    	</div>
    	<div id="cube4" class="cube reverse" >
    		<div class="facefront fb"></div>
    		<div class="facebck fb"></div>
    		<div class="faceleft lr"></div>
    		<div class="faceright lr"></div>
    		<div class="facetop tb"></div>
    		<div class="facebottom tb"></div>
    	</div>
    	<div id="cube5" class="cube" >
    		<div class="facefront fb"></div>
    		<div class="facebck fb"></div>
    		<div class="faceleft lr"></div>
    		<div class="faceright lr"></div>
    		<div class="facetop tb"></div>
    		<div class="facebottom tb"></div>
    	</div>
    </div> -->

    <div id="viewStage">
    	<div id="cube1" class="cube" >
    		<div class="facefront fb"></div>
    		<div class="facebck fb"></div>
    		<div class="faceleft lr"></div>
    		<div class="faceright lr"></div>
    		<div class="facetop tb"></div>
    		<div class="facebottom tb"></div>
    	</div>
    	<div id="cube2" class="cube" >
    		<div class="facefront fb"></div>
    		<div class="facebck fb"></div>
    		<div class="faceleft lr"></div>
    		<div class="faceright lr"></div>
    		<div class="facetop tb"></div>
    		<div class="facebottom tb"></div>
    	</div>
    	<div id="cube3" class="cube" >
    		<div class="facefront fb"></div>
    		<div class="facebck fb"></div>
    		<div class="faceleft lr"></div>
    		<div class="faceright lr"></div>
    		<div class="facetop tb"></div>
    		<div class="facebottom tb"></div>
    	</div>
    	<div id="cube4" class="cube" >
    		<div class="facefront fb"></div>
    		<div class="facebck fb"></div>
    		<div class="faceleft lr"></div>
    		<div class="faceright lr"></div>
    		<div class="facetop tb"></div>
    		<div class="facebottom tb"></div>
    	</div>
    	<div id="cube5" class="cube" >
    		<div class="facefront fb"></div>
    		<div class="facebck fb"></div>
    		<div class="faceleft lr"></div>
    		<div class="faceright lr"></div>
    		<div class="facetop tb"></div>
    		<div class="facebottom tb"></div>
    	</div>
    	<div id="cube6" class="cube" >
    		<div class="facefront fb"></div>
    		<div class="facebck fb"></div>
    		<div class="faceleft lr"></div>
    		<div class="faceright lr"></div>
    		<div class="facetop tb"></div>
    		<div class="facebottom tb"></div>
    	</div>
    	<div id="cube7" class="cube" >
    		<div class="facefront fb"></div>
    		<div class="facebck fb"></div>
    		<div class="faceleft lr"></div>
    		<div class="faceright lr"></div>
    		<div class="facetop tb"></div>
    		<div class="facebottom tb"></div>
    	</div>
    </div>

  </div>
</div>

<div class="ui-helper-clearfix" style="margin-bottom: 50px"></div>
