<div *ngIf="!isUploadCompleted" class="ui-g ui-fluid">
  <div class="ui-g-12 ui-md-6">
    <p-card title="{{'upload'|translate}}" subtitle="{{'upload_form_subtitle'|translate}}" styleClass="ui-card-shadow">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12">
          <div class="ui-helper-clearfix" style="margin-top: 20px;">
            <div class="ui-inputgroup">
              <span class="md-inputfield">
                <input #inputText type="text" pInputText name="filename">
                <label>{{'filename'|translate}}</label>
              </span>
              <button icon="ui-icon-search" pButton type="button" (click)="bringFileSelector();">
                <!-- label="{{'selectFile'|translate}}" -->
                <!-- <span class="ui-button-icon-left ui-clickable fa fa-fw ui-icon-search"></span> -->
              </button>
            </div>
            <input #fileUpload id="file" type="file" (change)="fileChanged($event)" accept=".csv" hidden="true"/>
          </div>
        </div>
      </div>

      <p-footer>
        <div style="text-align: right">
          <button style="width: auto;" pButton type="button" icon="ui-icon-file-upload" label="{{'proceed'|translate}}" (click)="execute()"></button>
        </div>
      </p-footer>
    </p-card>
  </div>
</div>

<div *ngIf="isUploadCompleted" class="ui-g ui-fluid">
  <div class="ui-g-12">
    <p-card title="{{'upload'|translate}}" styleClass="ui-card-shadow">
      <div class="ui-g ui-fluid">

        <div class="ui-g-12">
          <div class="ui-messages ui-widget ui-corner-all ui-messages-info" style="margin: 0 0 1em 0; display: block">
            <ul>
              <li>
                <span class="ui-messages-summary" style="font-size:16px">
                  {{'request_is_sent'|translate}}
                </span>
              </li>
            </ul>
          </div>
        </div>

        <div class="ui-g-12" style="text-align: center;">
          <button style="width: auto;" pButton type="button" icon="ui-icon-bug-report" label="{{'debug'|translate}}" (click)="gotoTcode('debug')"></button>
        </div>

      </div>
    </p-card>
  </div>
</div>
