<div class="landing-wrapper">
  <div id="header">
      <div>
          <img src="./assets/images/logo/gk-logo-colored.png" class="logo">
          <a id="landing-menu-button" href="#" (click)="gotoLogin(); false;">
              <i class="material-icons">menu</i>
          </a>
          <ul id="landing-menu">
              <li>
                  <a href="#" [ngx-scroll-to]="'introduction'">HOME</a>
              </li>
              <li>
                  <a href="#" [ngx-scroll-to]="'features'">FEATURES</a>
              </li>
              <li>
                  <a href="#" [ngx-scroll-to]="'stats'">STATS</a>
              </li>
              <li>
                  <a href="#" [ngx-scroll-to]="'video'">VIDEO</a>
              </li>
              <li>
                  <a href="#" [ngx-scroll-to]="'pricing'">PRICING</a>
              </li>
              <li>
                  <a href="#" [ngx-scroll-to]="'contact'">CONTACT</a>
              </li>
              <li>
                  <a href="#">VIETNAMESE</a>
              </li>
              <li>
                  <a href="#" (click)="gotoLogin(); false;">LOGIN</a>
              </li>
          </ul>
      </div>
  </div>

    <div id="introduction">
        <div>
            <h1>Creatively LEAN Solutions</h1>
            <p>To innovate and digitalize your business for value focused, resposively mobile and efficient operation.</p>
            <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-only pink-btn">
                <span class="ui-button-text">LEARN MORE</span>
            <span class="ink ripple-animate" style="height: 180px; width: 180px; top: -73px; left: 9.70312px; pointer-events: none;"></span></button>
        </div>
    </div>

    <div id="features">
        <div>
            <div class="ui-g">
                <div class="ui-g-12 ui-md-6 feature-box">
                    <img src="./assets/layout/images/landing/icon-responsive.svg">
                    <div>
                        <h3>FOCUS ON VALUE CREATION</h3>
                        <p>Your business could focus more on value creation activities thanks to LEAN solutions that enable and secure your all operation, management and controlling in the market best practice ways.</p>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-6 feature-box">
                    <img src="./assets/layout/images/landing/icon-moderndesign.svg">
                    <div>
                        <h3>INCREASE COLLABORATION</h3>
                        <p>Your people could increase collaborationto next other levels through embracing user-centric and creative processes of the solutions.</p>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-6 feature-box">
                    <img src="./assets/layout/images/landing/icon-welldocumented.svg">
                    <div>
                        <h3>SINGLE SOURCE OF TRUTH</h3>
                        <p>Data reliability assures your confidence in making decision making to tap business opportunities or effectively mitigate risks.</p>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-6 feature-box">
                    <img src="./assets/layout/images/landing/icon-cleancode.svg">
                    <div>
                        <h3>ENTERPRISE SCALE</h3>
                        <p>Any size up to your business scales, our capacity is available for your needs. Enterprise grade cloud infrastructure worries you nothing to scale and further succeed.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="stats">
        <div>
            <div class="ui-g">
                <div class="ui-g-12 ui-md-4">
                    <div class="stat-box">
                        <img src="./assets/layout/images/landing/icon-ui.svg">
                        <h3>50+</h3>
                        <p>PROCESSES/ SUB-PROCESSES</p>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-4">
                    <div class="stat-box stat-box-active">
                        <img src="./assets/layout/images/landing/icon-hours.svg">
                        <h3>100+</h3>
                        <p>TRANSACTION CODES</p>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-4">
                    <div class=" stat-box">
                        <img src="./assets/layout/images/landing/icon-coffee.svg">
                        <h3>129</h3>
                        <p>BUSINESS UTILITIES</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="video">
        <div>
            <div class="ui-g">
                <div class="ui-g-12 ui-md-6 video-description">
                    <h3>Better In Creativity</h3>
                    <p>Get to know more about why Better In Creativity and LEAN could transform your business to a highly performing organization.</p>
                    <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-only pink-btn">
                        <span class="ui-button-text">LEARN MORE</span>
                    </button>
                </div>

                <div class="ui-g-12 ui-md-6">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/eKQUP2el3zU" frameborder="0" allowfullscreen="true"></iframe>
                </div>
            </div>
        </div>
    </div>

    <div id="pricing">
        <div>
            <h2>Pricing</h2>
            <p>Contact us: gkbps@gmail.com</p>

            <div class="ui-g">
                <div class="ui-g-12 ui-md-4">
                    <div class="pricing-box">
                        <div class="pricing-header">
                            <h3>COMMUNITY</h3>
                            <p>Standard solutions</p>
                        </div>

                        <div class="pricing-content">
                            <div class="pricing-fee">Free</div>

                            <ul>
                                <li><i class="material-icons">check_circle</i> Responsive</li>
                                <li><i class="material-icons">check_circle</i> Push Messages</li>
                            </ul>

                            <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-only pink-btn">
                                <span class="ui-button-text">Get COMMUNITY</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-4">
                    <div class="pricing-box pricing-box-pro">
                        <div class="pricing-header">
                            <h3>CORPORATE</h3>
                            <p>Premium features and services</p>
                        </div>

                        <div class="pricing-content">
                            <div class="pricing-fee">10$</div>

                            <ul>
                                <li><i class="material-icons">check_circle</i> Responsive</li>
                                <li><i class="material-icons">check_circle</i> Push Messages</li>
                                <li><i class="material-icons">check_circle</i> 10 Support Tickets</li>
                                <li><i class="material-icons">check_circle</i> Free Shipping</li>
                            </ul>

                            <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-only pink-btn">
                                <span class="ui-button-text">Get STANDARD</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-4">
                    <div class="pricing-box">
                        <div class="pricing-header">
                            <h3>ENTERPRISE</h3>
                            <p>Private solutions for Enterprise</p>
                        </div>

                        <div class="pricing-content">
                            <div class="pricing-fee">50$</div>

                            <ul>
                                <li><i class="material-icons">check_circle</i> Responsive</li>
                                <li><i class="material-icons">check_circle</i> Push Messages</li>
                                <li><i class="material-icons">check_circle</i> 7/24 Support</li>
                                <li><i class="material-icons">check_circle</i> Free Shipping</li>
                                <li><i class="material-icons">check_circle</i> Unlimited Space</li>
                            </ul>

                            <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-only pink-btn">
                                <span class="ui-button-text">Get ENTERPRISE</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="contact">
        <div>
            <h2>Contact</h2>
            <p>Fill in the fields below and we’ll get back to you</p>

            <div class="ui-g">
                <div class="ui-g-12 ui-md-8 contact-map">
                    <img src="./assets/layout/images/landing/map-contact.png">
                </div>

                <div class="ui-g-12 ui-md-4 contact-form ui-fluid">
                    <div class="ui-g-12">
                        <span class="md-inputfield">
                            <input type="text" pinputtext="" class="ui-inputtext ui-corner-all ui-widget">
                            <label>Name</label>
                        </span>
                    </div>

                    <div class="ui-g-12">
                        <span class="md-inputfield">
                            <input type="text" pinputtext="" class="ui-inputtext ui-corner-all ui-widget">
                            <label>Email</label>
                        </span>
                    </div>

                    <div class="ui-g-12">
                        <span class="md-inputfield">
                            <input type="text" pinputtext="" class="ui-inputtext ui-corner-all ui-widget">
                            <label>Message</label>
                        </span>
                    </div>

                    <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-only indigo-btn">
                        <span class="ui-button-text">SEND</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="footer">
        <div>
            <div class="ui-g">
                <div class="ui-g-12 ui-md-4">
                    <img src="./assets/images/logo/gk-logo-slim.png" class="footer-logo">

                    <div>
                        <h4>BUSINESS PROCESS SERVICES</h4>
                        <p>Better In Creativity</p>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-4">
                    <h4>CONTACT</h4>
                    <p>17 G4, Road 53, Tan Quy Dong Settlement, <br /> Tan Phong Ward, District 7, <br /> Ho Chi Minh City, Vietnam</p>
                    <p><i class="material-icons">phone</i> +84 906 693 000</p>
                </div>

                <div class="ui-g-12 ui-md-4 footer-social">
                    <h4>SOCIAL</h4>
                    <a href="#">
                        <img src="./assets/layout/images/landing/icon-twitter.svg">
                    </a>
                    <a href="#">
                        <img src="./assets/layout/images/landing/icon-linkedin.svg">
                    </a>
                    <a href="#">
                        <img src="./assets/layout/images/landing/icon-facebook.svg">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
