<p-panel header="{{header}}">
  <div class="ui-g">
    <div class="ui-g-12">
      <section class="m-sectiongrid"> <!-- section-hidden section-visible -->
        <div class="container">
          <div class="row">
            <div class="ui-g-12 ui-md-4 ui-lg-3" *ngFor="let item of news; let i=index;">
              <a href="#" class="e-item {{colours[i%5]}} bg">
                <img src="{{item.image}}" alt="Chatting at a networking event" class=" lazyloaded">
                <div class="e-text" data-mh="box-heights" style="height: 170px;">
                  <h3 class="e-title">{{item.title}}</h3>
                  <p class="e-desc1">{{item.headline}}</p>
                  <p class="e-cta">{{'readmore'|translate}}</p>
                  <div class="e-content">
                    <div class="e-contenttext">
                      <h3>{{item.title}}</h3>
                      <p>{{item.headline}}</p>
                      <p class="e-cta">{{'readmore'|translate}}</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</p-panel>
