<div *ngIf="id" class="card card-w-title">
  <h1>{{'download'|translate}}</h1>

  <!-- <button pButton type="button" icon="ui-icon-file-download" ></button> -->
  <button *ngIf="notification.data" pbutton type="button" (click)="downloadFile()" style="margin-bottom:10px" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
    <!-- <span (click)="downloadFile()" class="ui-button-text ui-clickable">{{'download'|translate}}</span> -->
    <!-- <i class="fa ui-icon-file-download"></i>  -->
    {{'download'|translate}}
  </button>

</div>

<h-lead-form *ngIf="!id" isShortTcode="true"></h-lead-form>
