<div class="ui-g">
  <div class="ui-g-12">    

    <ng2-toasty [position]="toastyPosition"></ng2-toasty>

    <p-sidebar *ngIf="!sbFullScreen" [(visible)]="sbVisibility" [position]="sbPosition" [styleClass]="sbSizeList[sbSize]" [baseZIndex]="999999">
        <h1 style="font-weight:normal">{{sbTitle}}</h1>
    </p-sidebar>

    <p-sidebar *ngIf="sbFullScreen" [(visible)]="sbVisibility" [fullScreen]="true" [baseZIndex]="999999">
        <h1 style="font-weight:normal">{{sbTitle}}</h1>
    </p-sidebar>

  </div>
</div>

<router-outlet></router-outlet>
