<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="card">
      <div class="ui-g">

        <div class="ui-g-12">
          <p-toolbar>
            <div class="ui-toolbar-group-left">
              <button pButton type="button" icon="ui-icon-search" (click)="viewRequest()" pTooltip="{{'view'|translate}}" tooltipPosition="top"></button>
            </div>

            <div class="ui-toolbar-group-right">
                <button pButton type="button" icon="ui-icon-move-to-inbox" (click)="gotoTcode('tray01')" pTooltip="{{'inbox'|translate}}" tooltipPosition="top"></button>
                <button pButton type="button" icon="ui-icon-check" (click)="gotoTcode('tray02')" pTooltip="{{'outbox'|translate}}" tooltipPosition="top"></button>
                <button pButton type="button" icon="ui-icon-playlist-add" (click)="gotoTcode('tray11')" pTooltip="{{'draft'|translate}}" tooltipPosition="top"></button>
                <button pButton type="button" icon="ui-icon-playlist-play" (click)="gotoTcode('tray12')" pTooltip="{{'inProgress'|translate}}" tooltipPosition="top"></button>
                <button pButton type="button" icon="ui-icon-playlist-add-check" (click)="gotoTcode('tray13')" pTooltip="{{'completed'|translate}}" tooltipPosition="top"></button>
            </div>
          </p-toolbar>
        </div>

        <!-- <div class="ui-helper-clearfix" style="margin-bottom:20px"></div> -->

        <div class="ui-g-12">

          <p-dataTable
            [value]="requests"
            [loading]="loading"
            loadingIcon="fa-spinner"

            [globalFilter]="gb" #dt
            selectionMode="single" [(selection)]="selectedRequest" dataKey="_id"

            [responsive]="true"
            [resizableColumns]="true"
            [multiSortMeta]="multiSortMeta"

            [reorderableColumns]="true"
            [contextMenu]="cm"

            [paginator]="true"
            [rows]="rows"
            [rowsPerPageOptions]="[10,20,30]"
            [(first)]="first"

            [lazy]="true"
            (onLazyLoad) = "loadData($event)"
            [totalRecords]="totalRecords"

            scrollHeight="200px"
            [style]="{'overflow':'visible'}">
              <p-header>
                <div class="ui-g form-group">
                  <div class="ui-g-12 ui-md-6">
                    <div style="float:left">
                      <button icon="ui-icon-file-download" pButton type="button" (click)="dt.exportCSV()" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"></button>
                      <p-multiSelect
                        class="fixed-multiSelect"
                        defaultLabel="{{'select_an_item'|translate}}"
                        [selectedItemsLabel]="selectedItemsLabel"
                        [options]="columnOptions"
                        [(ngModel)]="cols"></p-multiSelect>
                    </div>
                  </div>

                  <div class="ui-g-12 ui-md-6">
                    <div class="ui-inputgroup" style="float:right">
                      <span class="md-inputfield fixed-form" style="margin-top:12px">
                        <input #gb pInputText type="text" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                        <label style="color: #ffffff">{{'filter'|translate}}</label>
                      </span>
                      <i class="fa fa-search" style="margin-top:10px"></i>
                    </div>
                  </div>
                </div>

              </p-header>
              <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header" [style]="{'width': col.width}" sortable="true"></p-column>
          </p-dataTable>
          <p-contextMenu #cm [model]="items"></p-contextMenu>

        </div>

      </div>
    </div>
  </div>
</div>
