<div class="ui-g dashboard">

  <!-- Default -->
  <div class="ui-g-12">
    <p-panel header ="{{'default'|translate}}" [toggleable]="true" [collapsed]="false">
      <div class="ui-g form-group">

        <div class="ui-g-12 ui-md-6">
          <span class="md-inputfield fixed-form">
            <span class="fixed-label">{{'style'|translate}} *</span>
          </span>
          <p-dropdown [options]="styleList" name="style" [style]="{'width': '100%'}"></p-dropdown>
        </div>

      </div>
    </p-panel>
  </div>

  <!-- Locale -->
  <div class="ui-g-12">
    <p-panel header ="{{'locale'|translate}}" [toggleable]="true" [collapsed]="false">
      <div class="ui-g form-group">

        <div class="ui-g-12 ui-md-6">
          <span class="md-inputfield fixed-form">
            <span class="fixed-label">{{'time_zone'|translate}} *</span>
          </span>
          <p-dropdown [options]="localeList" name="locale" [style]="{'width': '100%'}"></p-dropdown>
        </div>

        <div class="ui-helper-clearfix"></div>

        <div class="ui-g-12 ui-md-6">
          <span class="md-inputfield fixed-form">
            <span class="fixed-label">{{'language'|translate}} *</span>
          </span>
          <p-dropdown [options]="langList" name="language" [style]="{'width': '100%'}"></p-dropdown>
        </div>

      </div>
    </p-panel>
  </div>

  <!-- Notification -->
  <div class="ui-g-12">
    <p-panel header ="{{'notifications'|translate}}" [toggleable]="true" [collapsed]="false">
      <div class="ui-g form-group">

        <div class="ui-g-12 ui-md-6 ui-lg-4 ui-fluid">
          <h-toasty-setting></h-toasty-setting>
        </div>

      </div>
    </p-panel>
  </div>

</div>
