<div class="card card-w-title">
  <div class="ui-datatable ui-widget ui-datatable-reflow">

    <div class="ui-datatable-header ui-widget-header">
      <p-header><b>{{'debug'|translate}}</b></p-header>
    </div>

    <div class="ui-datatable-tablewrapper">
      <table>

        <thead class="ui-datatable-thead">
          <tr class="ui-state-default">
            <th class="ui-state-default ui-unselectable-text" style="width:20%">
              <span class="ui-column-title"><b>{{'status'|translate}}</b></span>
            </th>
            <th class="ui-state-default ui-unselectable-text" style="width:80%">
              <span class="ui-column-title"><b>{{'url'|translate}}</b></span>
            </th>
          </tr>
        </thead>

        <tbody class="ui-datatable-data ui-widget-content ui-datatable-hoverable-rows">

          <ng-container *ngFor="let error of errors; let i=index;">
            <tr class=" ui-datatable-even ui-widget-content">
              <td><span class="ui-cell-data"><b>{{error.status}}</b></span></td>
              <td><span class="ui-cell-data"><b>{{error.url}}</b></span></td>
            </tr>
            <tr *ngIf="error.detail">
              <td colspan="2">{{error.detail.message}}</td>
            </tr>
            <tr *ngIf="error.detail">
              <td colspan="2">{{error.detail.data|json}}</td>
            </tr>
          </ng-container>

        </tbody>

      </table>

    </div>

  </div>
</div>
