<p-panel [toggleable]="true" [collapsed]="true">
  <p-header>
    <span class="ui-panel-title"><i class="fa ui-icon-library-books"></i> {{'req_document'|translate}}</span>
  </p-header>
  <div class="ui-g">
    <div class="ui-g-12">
      <p-menubar [model]="items"></p-menubar>
    </div>

    <div *ngIf="isUpload" class="ui-g-12">
      <p-fileUpload
        #singleFileUploader
        name="files"
        [url]="myUrl"

        accept=".docx,.doc,.xls,xlsx,ppt,.pptx,application/pdf,application/rtf,text/plain,application/x-zip-compressed,image/*"

        invalidFileSizeMessageSummary = "{{'invalid_file_size_summary'|translate}}"
        invalidFileSizeMessageDetail = "{{'invalid_file_size_detail'|translate}}"
        invalidFileTypeMessageSummary = "{{'invalid_file_type_summary'|translate}}"
        invalidFileTypeMessageDetail = "{{'invalid_file_type_detail'|translate}}"

        customUpload="'true'"
        (uploadHandler)="uploadSingleFileHandler($event)"

        chooseLabel="{{'selectFile'|translate}}"
        uploadLabel="{{'upload'|translate}}"
        cancelLabel="{{'cancel'|translate}}"

        [maxFileSize]="maxSize">
      </p-fileUpload>

      <ul *ngIf="uploadedFiles.length">
        <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
      </ul>
    </div>

    <div class="ui-g-12">

      <p-table
        #dt
        [value]="requestDocuments"

        selectionMode="single"
        [(selection)]="selectedDocument"
        dataKey="_id"

        [responsive]="true"
        [resizableColumns]="true"

        sortMode="multiple"

        [reorderableColumns]="true"
        [(contextMenuSelection)]="selectedDocument"
        [contextMenu]="cm"

        [paginator]="true"
        [rows]="rows"
        [(first)]="first"

        [columns]="selectedColumns"

        scrollHeight="200px"
        [style]="{'overflow':'visible'}">
        <!-- paginatorPosition="both" -->
        <ng-template pTemplate="caption">
          <p-header>
            <div class="ui-g form-group">

              <div class="ui-g-12 ui-md-6">
                <div style="text-align:left">
                  <button icon="ui-icon-file-download" pButton type="button" (click)="dt.exportCSV()" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" pTooltip="{{'export_csv'|translate}}" tooltipPosition="top"></button>
                  <p-multiSelect
                    class="fixed-multiSelect"
                    [options]="columnOptions"
                    [(ngModel)]="selectedColumns"
                    [selectedItemsLabel]="selectedItemsLabel"
                    [style]="{minWidth: '200px'}"
                    defaultLabel="{{'select_an_item'|translate}}">
                  </p-multiSelect>
                </div>
              </div>

              <div class="ui-g-12 ui-md-6">
                <div class="ui-inputgroup" style="float:right">
                  <span class="md-inputfield" style="margin-top:12px;">
                    <input #gb pInputText type="text" class="ui-inputtext ui-corner-all ui-state-default ui-widget" (input)="dt.filterGlobal($event.target.value, 'contains')">
                    <label style="color: #ffffff">{{'filter'|translate}}</label>
                  </span>
                  <i class="fa fa-search" style="margin-top:10px"></i>
                </div>
              </div>

            </div>
          </p-header>
        </ng-template>

        <ng-template pTemplate="header" let-columns>
          <tr>
            <th
              *ngFor="let col of columns"
              style="width: {{col.width}}"
              [pSortableColumn]="col.field"
              pResizableColumn
              pReorderableColumn>
              <!-- [style]="{'width': col.width}" -->
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData" [pContextMenuRow]="rowData">
            <td *ngFor="let col of columns">{{rowData[col.field]}}</td>
          </tr>
        </ng-template>

        <ng-template pTemplate="summary">
          <div style="text-align: left">
              {{'selected'|translate}}: {{selectedDocument ? selectedDocument._id : 'none'}}
          </div>
        </ng-template>

      </p-table>
      <p-contextMenu #cm [model]="items"></p-contextMenu>

      <p-dialog header="{{'upload'|translate}}" [(visible)]="displayUploadDialog" modal="modal" width="600" [responsive]="true">
        <p-footer>
            <button type="button" pButton icon="fa-close" (click)="displayUploadDialog=false;" label="{{'close'|translate}}"></button>
        </p-footer>
      </p-dialog>

      <p-dialog header="{{'rename'|translate}}" [(visible)]="displayRenameDialog" modal="modal" width="600" [responsive]="true">
        <form>
          <div class="ui-g">
            <div class="ui-g-12">
              <span class="md-inputfield fixed-form">
                <input id="desc" type="text" style="width: 100%; color: black; border-color: #bdbdbd" pInputText [(ngModel)]="desc" [ngModelOptions]="{standalone: true}">
                <label for="desc">{{'description'|translate}} <span *ngIf="!desc" style="color: red;">({{'required'|translate}})</span></label>
              </span>
            </div>
          </div>
        </form>
        <p-footer>
            <button [disabled]="!desc" type="button" pButton icon="fa-close" (click)="renameRequestFile()" label="{{'rename'|translate}}"></button>
        </p-footer>
      </p-dialog>

    </div>
  </div>
</p-panel>

<!-- <p-dataTable
  [value]="requestDocuments"
  [loading]="loading"
  loadingIcon="fa-spinner"

  [globalFilter]="gb" #dt

  selectionMode="single"
  [(selection)]="selectedDocument"
  dataKey="_id"

  [responsive]="true"
  [resizableColumns]="true"
  [multiSortMeta]="multiSortMeta"

  [reorderableColumns]="true"
  [contextMenu]="cm"

  [paginator]="true"
  [rows]="rows"
  [(first)]="first"

  scrollHeight="200px"
  [style]="{'overflow':'visible'}">
    <p-header>
      <div class="ui-g" style="padding: 0px">
        <div class="ui-g-12 ui-md-6 ui-lg-4" style="text-align:left">
          <p-multiSelect [options]="columnOptions" [(ngModel)]="cols"></p-multiSelect>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-4"></div>
        <div class="ui-g-12 ui-lg-4" style="text-align:right">
          <input #gb type="text" pInputText size="50" placeholder="{{'filter'|translate}}" style="::placeholder {color: #ffffff;}">
        </div>
      </div>
    </p-header>
    <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header" [style]="{'width': col.width}" sortable="true"></p-column>
</p-dataTable> -->

<!-- <p-fileUpload
  #singleFileUploader
  name="files"
  [url]="myUrl"

  accept=".docx,.doc,.xls,xlsx,ppt,.pptx,application/pdf,application/rtf,text/plain,application/x-zip-compressed,image/*"

  invalidFileSizeMessageSummary = "{{'invalid_file_size_summary'|translate}}"
  invalidFileSizeMessageDetail = "{{'invalid_file_size_detail'|translate}}"
  invalidFileTypeMessageSummary = "{{'invalid_file_type_summary'|translate}}"
  invalidFileTypeMessageDetail = "{{'invalid_file_type_detail'|translate}}"

  customUpload="'true'"
  (uploadHandler)="uploadSingleFileHandler($event)"

  chooseLabel="{{'selectFile'|translate}}"
  uploadLabel="{{'upload'|translate}}"
  cancelLabel="{{'cancel'|translate}}"

  [maxFileSize]="maxSize">
</p-fileUpload> -->


<!-- <ul *ngIf="uploadedFiles.length">
  <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
</ul> -->

<!-- <p-confirmDialog #cd1>
  <p-footer>
        <button type="button" pButton icon="fa-close" label="{{lblCancel}}" (click)="cd1.reject()"></button>
        <button type="button" pButton icon="fa-check" label="{{lblConfirm}}" (click)="cd1.accept()"></button>
    </p-footer>
</p-confirmDialog> -->
