<p-panel [toggleable]="true" [collapsed]="true">
  <p-header>
    <span class="ui-panel-title"><i class="fa ui-icon-library-books"></i> {{'req_document'|translate}}</span>
  </p-header>
  <div class="ui-g">
    <div class="ui-g-12">
      <p-menubar [model]="items"></p-menubar>
    </div>

    <div *ngIf="isUpload" class="ui-g-12">
      <p-fileUpload
        #singleFileUploader
        name="files"
        [url]="myUrl"

        accept=".docx,.doc,.xls,xlsx,ppt,.pptx,application/pdf,application/rtf,text/plain,application/x-zip-compressed,image/*"

        invalidFileSizeMessageSummary = "{{'invalid_file_size_summary'|translate}}"
        invalidFileSizeMessageDetail = "{{'invalid_file_size_detail'|translate}}"
        invalidFileTypeMessageSummary = "{{'invalid_file_type_summary'|translate}}"
        invalidFileTypeMessageDetail = "{{'invalid_file_type_detail'|translate}}"

        customUpload="'true'"
        (uploadHandler)="uploadSingleFileHandler($event)"

        chooseLabel="{{'selectFile'|translate}}"
        uploadLabel="{{'upload'|translate}}"
        cancelLabel="{{'cancel'|translate}}"

        [maxFileSize]="maxSize">
      </p-fileUpload>

      <ul *ngIf="uploadedFiles.length">
        <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
      </ul>
    </div>

    <div class="ui-g-12">
      <p-dataTable
        [value]="requestDocuments"
        [loading]="loading"
        loadingIcon="fa-spinner"

        [globalFilter]="gb" #dt

        selectionMode="single"
        [(selection)]="selectedDocument"
        dataKey="_id"

        [responsive]="true"
        [resizableColumns]="true"
        [multiSortMeta]="multiSortMeta"

        [reorderableColumns]="true"
        [contextMenu]="cm"

        [paginator]="true"
        [rows]="rows"
        [(first)]="first"

        scrollHeight="200px"
        [style]="{'overflow':'visible'}">
        <!-- [rowsPerPageOptions]="[10,20,30]" -->
          <p-header>
            <div class="ui-g" style="padding: 0px">
              <div class="ui-g-12 ui-md-6 ui-lg-4" style="text-align:left">
                <p-multiSelect [options]="columnOptions" [(ngModel)]="cols"></p-multiSelect>
              </div>
              <div class="ui-g-12 ui-md-6 ui-lg-4"></div>
              <div class="ui-g-12 ui-lg-4" style="text-align:right">
                <input #gb type="text" pInputText size="50" placeholder="{{'filter'|translate}}" style="::placeholder {color: #ffffff;}">
              </div>
            </div>
          </p-header>
          <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header" [style]="{'width': col.width}" sortable="true"></p-column>
      </p-dataTable>
      <p-contextMenu #cm [model]="items"></p-contextMenu>

      <p-dialog header="{{'upload'|translate}}" [(visible)]="displayUploadDialog" modal="modal" width="600" [responsive]="true">
        <!-- <p-fileUpload
          #singleFileUploader
          name="files"
          [url]="myUrl"

          accept=".docx,.doc,.xls,xlsx,ppt,.pptx,application/pdf,application/rtf,text/plain,application/x-zip-compressed,image/*"

          invalidFileSizeMessageSummary = "{{'invalid_file_size_summary'|translate}}"
          invalidFileSizeMessageDetail = "{{'invalid_file_size_detail'|translate}}"
          invalidFileTypeMessageSummary = "{{'invalid_file_type_summary'|translate}}"
          invalidFileTypeMessageDetail = "{{'invalid_file_type_detail'|translate}}"

          customUpload="'true'"
          (uploadHandler)="uploadSingleFileHandler($event)"

          chooseLabel="{{'selectFile'|translate}}"
          uploadLabel="{{'upload'|translate}}"
          cancelLabel="{{'cancel'|translate}}"

          [maxFileSize]="maxSize">
        </p-fileUpload> -->


        <!-- <ul *ngIf="uploadedFiles.length">
          <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
        </ul> -->
        <p-footer>
            <button type="button" pButton icon="fa-close" (click)="displayUploadDialog=false;" label="{{'close'|translate}}"></button>
        </p-footer>
      </p-dialog>

      <p-dialog header="{{'rename'|translate}}" [(visible)]="displayRenameDialog" modal="modal" width="600" [responsive]="true">
        <form>
          <div class="ui-g">
            <div class="ui-g-12">
              <span class="md-inputfield fixed-form">
                <input id="desc" type="text" style="width: 100%; color: black; border-color: #bdbdbd" pInputText [(ngModel)]="desc" [ngModelOptions]="{standalone: true}">
                <label for="desc">{{'description'|translate}} <span *ngIf="!desc" style="color: red;">({{'required'|translate}})</span></label>
              </span>
            </div>
          </div>
        </form>
        <p-footer>
            <button [disabled]="!desc" type="button" pButton icon="fa-close" (click)="renameRequestFile()" label="{{'rename'|translate}}"></button>
        </p-footer>
      </p-dialog>

      <!-- <p-confirmDialog #cd1>
        <p-footer>
              <button type="button" pButton icon="fa-close" label="{{lblCancel}}" (click)="cd1.reject()"></button>
              <button type="button" pButton icon="fa-check" label="{{lblConfirm}}" (click)="cd1.accept()"></button>
          </p-footer>
      </p-confirmDialog> -->

    </div>
  </div>
</p-panel>
