<div *ngIf="editMode" class="ui-g-12">
  <div class="ui-toolbar-group-right">
      <button *ngIf="!inEdit" pButton type="button" icon="ui-icon-edit" (click)="changeInEdit()" pTooltip="{{'edit'|translate}}" tooltipPosition="top"></button>
      <button *ngIf="inEdit" pButton type="button" icon="ui-icon-search" (click)="changeInEdit()" pTooltip="{{'view'|translate}}" tooltipPosition="top"></button>
  </div>
</div>

<div class="ui-g-12" *ngIf="inEdit">

  <div class="card">
    <div class="ui-g">
      <div class="ui-g-12">
        <span class="md-inputfield fixed-form">
          <span class="fixed-label">{{'type'|translate}}</span>
        </span>
        <p-dropdown [(ngModel)]="data.type" [style]="{'width': '100%'}" [options]="typeList" [style]="{'width':'150px'}">
        </p-dropdown>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="ui-g">
      <div class="ui-g-12">
        <p-checkbox [(ngModel)]="options.title.display" label="TITLE" binary="true"></p-checkbox>
      </div>
      <div class="ui-g-12">
        <span class="md-inputfield fixed-form">
          <input type="text" pInputText name="title" [(ngModel)]="options.title.text" [style]="{'width': '100%'}">
          <label>{{'title'|translate}} * <small *ngIf="!options.title.text" class="text-warning">{{'required'|translate}}</small></label>
        </span>
      </div>
      <div class="ui-g-12">
        <span class="md-inputfield fixed-form">
          <span class="fixed-label">{{'position'|translate}}</span>
        </span>
        <p-dropdown [(ngModel)]="options.title.position" [style]="{'width': '100%'}" [options]="positionList" [style]="{'width':'150px'}">
        </p-dropdown>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="ui-g">
      <div class="ui-g-12">
        <p-checkbox [(ngModel)]="options.legend.display" label="LEGEND" binary="true"></p-checkbox>
      </div>
      <div class="ui-g-12">
        <span class="md-inputfield fixed-form">
          <span class="fixed-label">{{'position'|translate}}</span>
        </span>
        <p-dropdown [(ngModel)]="options.legend.position" [style]="{'width': '100%'}" [options]="positionList" [style]="{'width':'150px'}">
        </p-dropdown>
      </div>
      <div class="ui-g-12">
        <p-checkbox [(ngModel)]="options.legend.reverse" label="Reverse" binary="true"></p-checkbox>
      </div>
    </div>
  </div>

</div>

<div class="ui-g-12" *ngIf="!inEdit">
  <p-chart
    #chart
    [type]="data.type"
    [data]="data"
    [options]="options">
  </p-chart>
</div>
