<div *ngIf="source.pending" class="ui-g">
  <div class="ui-g-12">
    <h3>Loading</h3>
  </div>
</div>

<!-- SOURCE SUCCESS -->
<div *ngIf="!source.pending && !source.error">

  <div *ngIf="(!isRequest)" class="ui-g">
    <div class="ui-g-12">
      <h-individual-nav
        [prefix]="prefix">
      </h-individual-nav>
      <!-- (onSelectAction)="handleNavAction($event)" -->
    </div>
  </div>

  <form [formGroup]="myForm" novalidate *ngIf="(!isNewCreationSuccess) && (!isDeletionSuccess)">

    <!--  Specific Form: only for Master Data or Transaction -->
    <div *ngIf="!isRequest" class="ui-g">
      <div class="ui-g-12">
          <p-toolbar>
            <div class="ui-toolbar-group-left">
              <span>{{'id'|translate}}: <span class="badge bg-info">{{myForm.controls._id.value ? myForm.controls._id.value : 'New'}}</span></span>
            </div>

            <div class="ui-toolbar-group-right">
              <span>{{'status'|translate}}: <span class="badge" [ngClass]="{'bg-warning': (myForm.controls.status1.value=='Inactive'), 'bg-info': (myForm.controls.status1.value=='Active')}">{{myForm.controls.status1.value}}</span></span>
              <span>. {{'marked'|translate}}: <span class="badge" [ngClass]="{'bg-danger': (myForm.controls.status2.value=='Marked'), 'bg-info': (myForm.controls.status2.value=='Unmarked')}">{{myForm.controls.status2.value}}</span></span>
            </div>
          </p-toolbar>
      </div>

      <div *ngIf="isEditable" class="ui-g-12">
        <div class="ui-helper-clearfix">
          <button debounceClick (debounceClick)="submitForm()" [debounceTime]="500" style="float:right; width: auto;" pButton type="button" icon="ui-icon-check" label="{{'save'|translate}}" class="ui-button-primary" [disabled]="!myForm.valid"></button>
        </div>
      </div>

    </div>
    <!--  ./Specific Form -->

    <!-- Shared Form -->
    <div class="ui-g">

      <!-- GENERAL -->
      <div class="ui-g-12">
        <p-panel header ="{{'general'|translate}}" [toggleable]="true" [collapsed]="false">
          <div class="ui-g form-group">

              <!-- Only for Request Debug -->
              <div *ngIf="isRequest && debugMode" class="ui-g-12 ui-md-6">
                <span class="md-inputfield fixed-form">
                  <input type="text" pInputText  name="_id" formControlName="_id" [disableControl]="!isEditable">
                  <label>{{'id'|translate}} * <small *ngIf="!myForm.controls._id.valid && myForm.controls._id.dirty" class="text-warning">{{'required'|translate}}</small></label>
                </span>
              </div>

              <div *ngIf="isRequest && debugMode" class="ui-g-12 ui-md-3">
                <span class="md-inputfield fixed-form">
                  <span class="fixed-label">{{'status'|translate}} * <small *ngIf="!myForm.controls.status1.valid && myForm.controls.status1.dirty" class="text-warning">{{'required'|translate}}</small></span>
                </span>
                <p-dropdown [options]="status1List" name="status1" formControlName="status1" [style]="{'width': '100%'}" [disableControl]="!isEditable"></p-dropdown>
              </div>

              <div *ngIf="isRequest && debugMode" class="ui-g-12 ui-md-3">
                <span class="md-inputfield fixed-form">
                  <span class="fixed-label">{{'marked'|translate}} * <small *ngIf="!myForm.controls.status2.valid && myForm.controls.status2.dirty" class="text-warning">{{'required'|translate}}</small></span>
                </span>
                <p-dropdown [options]="status2List" name="status2" formControlName="status2" [style]="{'width': '100%'}" [disableControl]="!isEditable"></p-dropdown>
              </div>
              <div class="clearfix"></div>
              <!-- Only for Request Debug -->

              <div class="ui-g-12">
                <span class="md-inputfield">
                   <!-- fixed-form -->
                  <input type="text" pInputText  name="name" formControlName="name" [disableControl]="!isEditable">
                  <label *ngIf="!isRequest">{{'name'|translate}} * <small *ngIf="!myForm.controls.name.valid && myForm.controls.name.dirty" class="text-warning">{{'minChar'|translate:"{value: 5}" }}</small></label>
                  <label *ngIf="isRequest">{{'name'|translate}} * <small *ngIf="!myForm.controls.name.valid" class="text-warning">{{'minChar'|translate:"{value: 5}" }}</small></label>
                </span>
              </div>

              <div class="ui-g-12 ui-md-4">
                <span class="md-inputfield">
                   <!-- fixed-form -->
                  <input type="text" pInputText pKeyFilter="alphanum" name="clientDb" formControlName="clientDb" [disableControl]="!isEditable">
                  <label *ngIf="!isRequest">{{'db'|translate}} * <small *ngIf="!myForm.controls.clientDb.valid && myForm.controls.clientDb.dirty" class="text-warning">{{'alphaNum'|translate}}. {{'minChar'|translate:"{value: 3}"}}</small></label>
                  <label *ngIf="isRequest">{{'db'|translate}} * <small *ngIf="!myForm.controls.clientDb.valid" class="text-warning">{{'alphaNum'|translate}}. {{'minChar'|translate:"{value: 3}"}}</small></label>
                </span>
              </div>

              <div class="ui-g-12 ui-md-4">
                <span class="md-inputfield">
                   <!-- fixed-form -->
                  <span class="fixed-label">{{'industry'|translate}} * <small *ngIf="!myForm.controls.industry.valid && myForm.controls.industry.dirty" class="text-warning">{{'required'|translate}}</small></span>
                </span>
                <p-dropdown [options]="industryList" name="industry" formControlName="industry" [disableControl]="!isEditable" [style]="{'width': '100%'}"></p-dropdown>
              </div>

              <div class="ui-g-12 ui-md-4">
                <span class="md-inputfield">
                   <!-- fixed-form -->
                  <span class="fixed-label">{{'services'|translate}} * <small *ngIf="!myForm.controls.industry.valid && myForm.controls.industry.dirty" class="text-warning">{{'required'|translate}}</small></span>
                </span>
                <p-dropdown [options]="serviceList" name="service" formControlName="service" [disableControl]="!isEditable" [style]="{'width': '100%'}"></p-dropdown>
              </div>

          </div>
        </p-panel>
      </div>
      <!-- ./GENERAL -->

      <!-- DETAILS -->
      <div class="ui-g-12">

        <p-tabView>
            <!-- Addresses -->
            <p-tabPanel header="{{'addresses'|translate}}" [selected]="true">
              <div class="ui-g">
                <div class="ui-g-12" [style]="{'margin-bottom':'30px'}" *ngFor="let address of myForm.controls.addresses.controls; let i=index">
                    <h-address
                      [isEditable]="isEditable"
                      [item]="i"
                      [(addressItem)]="myForm.controls.addresses.controls[i]"
                      (itemEvent)="handleEvent($event)">
                    </h-address>                    
                </div>
              </div>
              <p-footer *ngIf="isEditable">
                <div class="ui-helper-clearfix">
                  <button style="float:left; width: auto;" pButton type="button" icon="fa-plus" label="{{'new'|translate}} {{'address'|translate}}" class="ui-button-success" (click)="newAddress()"></button>
                  <button style="float:right; width: auto;" *ngIf="myForm.controls.addresses.controls.length && !isRequest" pButton type="button" icon="ui-icon-check" label="{{'save'|translate}}" class="ui-button-primary" [disabled]="!myForm.valid" (click)="submitForm()"></button>
                </div>
              </p-footer>
            </p-tabPanel>
            <!-- ./Addresses -->

            <!-- Contacts -->
            <p-tabPanel header="{{'contacts'|translate}}">
              <div class="ui-g">
                <div class="ui-g-12" [style]="{'margin-bottom':'30px'}" *ngFor="let contact of myForm.controls.contacts.controls; let i=index">
                  <h-contact
                  [isEditable]="isEditable"
                  [item]="i"
                  [(formGroup)]="myForm.controls.contacts.controls[i]"
                  (itemEvent)="handleEvent($event)">
                </h-contact>
                </div>
              </div>
              <p-footer *ngIf="isEditable">
                <div class="ui-helper-clearfix">
                  <button style="float:left; width: auto;" pButton type="button" icon="fa-plus" label="{{'new'|translate}} {{'contact'|translate}}" class="ui-button-success" (click)="newContact()"></button>
                  <button style="float:right; width: auto;" *ngIf="myForm.controls.contacts.controls.length && !isRequest" pButton type="button" icon="ui-icon-check" label="{{'save'|translate}}" class="ui-button-primary" [disabled]="!myForm.valid" (click)="submitForm()"></button>
                </div>
              </p-footer>
            </p-tabPanel>
            <!-- ./Contacts -->
        </p-tabView>

      </div>
      <!-- ./DETAILS -->

    </div>
    <!-- ./Shared Form -->

  </form>

  <!-- DEBUG -->
  <div *ngIf="(debugMode) && (!isRequest) && (!isNewCreationSuccess) && (!isDeletionSuccess)" class="ui-g ui-fluid">
    <div class="ui-g-12">
      <p-panel header ="{{'debug'|translate}}" [toggleable]="true" [collapsed]="true">
        <div class="ui-g">
          <div class="ui-g-12">
            <div class="ui-helper-clearfix" style="margin-top:10px">
              <pre>{{'formValid'|translate}}?: <br>{{myForm.valid | json}}</pre>
              <pre>{{'formValue'|translate}}: <br>{{myForm.value | json}}</pre>
            </div>
          </div>
        </div>
      </p-panel>
    </div>
  </div>

  <!-- MESSAGE -->
  <div *ngIf="isNewCreationSuccess" class="ui-g ui-fluid">
    <div class="ui-g-12">
      <div class="ui-messages ui-widget ui-corner-all ui-messages-success" style="margin: 0 0 1em 0; display: block">
          <span class="ui-messages-icon fa fa-fw fa-2x fa-check"></span>
          <ul>
              <li>
                <span class="ui-messages-summary" style="font-size:16px">
                  {{'resource_is_created'|translate}} {{'id'|translate}}: {{source.data._id}}
                </span>
              </li>
          </ul>
      </div>
      <div *ngIf="hasRight('gkcln1x')" class="ui-g-12" style="text-align: center;">
        <button style="width: auto;" pButton type="button" icon="ui-icon-view-module" label="{{'master_list'|translate}}" (click)="gotoTcode('gkcln1x')"></button>
      </div>
    </div>
  </div>

  <div *ngIf="isDeletionSuccess" class="ui-g ui-fluid">
    <div class="ui-g-12">
      <div class="ui-messages ui-widget ui-corner-all ui-messages-success" style="margin: 0 0 1em 0; display: block">
          <span class="ui-messages-icon fa fa-fw fa-2x fa-check"></span>
          <ul>
              <li>
                <span class="ui-messages-summary" style="font-size:16px">
                  {{'resource_is_deleted'|translate}}
                </span>
              </li>
          </ul>
      </div>
    </div>
    <div *ngIf="hasRight('gkcln1x')" class="ui-g-12" style="text-align: center;">
      <button style="width: auto;" pButton type="button" icon="ui-icon-view-module" label="{{'master_list'|translate}}" (click)="gotoTcode('gkcln1x')"></button>
    </div>
  </div>
  <!-- ./MESSAGE -->

</div>
<!-- ./SOURCE SUCCESS -->

<!-- SOURCE ERROR -->
<div *ngIf="source.error" class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="ui-messages ui-widget ui-corner-all ui-messages-error" style="margin: 0 0 1em 0; display: block">
        <span class="ui-messages-icon fa fa-fw fa-2x fa-close"></span>
        <ul>
            <li>
              <span class="ui-messages-summary" style="font-size:16px">
                {{'tcode_execution_error_msg'|translate}}
              </span>
            </li>
        </ul>
    </div>
  </div>
  <div class="ui-g-12" style="text-align: center;">
    <button style="width: auto;" pButton type="button" icon="ui-icon-bug-report" label="{{'debug'|translate}}" (click)="gotoTcode('debug')"></button>
  </div>
</div>
<!-- ./SOURCE ERROR -->
