<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="card">
      <div class="ui-g">

        <div class="ui-g-12">
          <!-- <p-menubar [model]="items"></p-menubar> -->
          <p-toolbar>
            <div class="ui-toolbar-group-left">
              <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:6px; margin-left: 6px;">
                {{title|translate}}
              </span>
            </div>

            <div class="ui-toolbar-group-right">
                <button pButton type="button" icon="ui-icon-add" [disabled]="notInRights('gkcln11')" (click)="tcodeService.executeTCode('gkcln11')" pTooltip="{{'create'|translate}}" tooltipPosition="top"></button>
                <button pButton type="button" icon="ui-icon-search" [disabled]="notInRights('gkcln12')" (click)="executeTcode('gkcln12')" pTooltip="{{'view'|translate}}" tooltipPosition="top"></button>
                <button pButton type="button" icon="ui-icon-edit" [disabled]="notInRights('gkcln13')" (click)="executeTcode('gkcln13')" pTooltip="{{'edit'|translate}}" tooltipPosition="top"></button>
                <button pButton type="button" icon="ui-icon-bookmark" [disabled]="notInRights('gkcln14')" (click)="executeTcode('gkcln14')" pTooltip="{{'disable'|translate}}" tooltipPosition="top"></button>
                <button pButton type="button" icon="ui-icon-bookmark-border" [disabled]="notInRights('gkcln15')" (click)="executeTcode('gkcln15')" pTooltip="{{'enable'|translate}}" tooltipPosition="top"></button>
                <button pButton type="button" icon="ui-icon-visibility-off" [disabled]="notInRights('gkcln16')" (click)="executeTcode('gkcln16')" pTooltip="{{'mark'|translate}}" tooltipPosition="top"></button>
                <button pButton type="button" icon="ui-icon-visibility" [disabled]="notInRights('gkcln17')" (click)="executeTcode('gkcln17')" pTooltip="{{'unmark'|translate}}" tooltipPosition="top"></button>
                <button pButton type="button" icon="ui-icon-delete-forever" [disabled]="notInRights('gkcln18')" (click)="executeTcode('gkcln18')" pTooltip="{{'delete'|translate}}" tooltipPosition="top"></button>
                <button pButton type="button" icon="ui-icon-track-changes" [disabled]="notInRights('gkcln19')" (click)="executeTcode('gkcln19')" pTooltip="{{'viewChange'|translate}}" tooltipPosition="top"></button>
            </div>
          </p-toolbar>

        </div>

        <div class="ui-g-12">
          <p-dataTable
            [value]="clients"
            [loading]="loading"
            loadingIcon="fa-spinner"

            [globalFilter]="gb" #dt
            selectionMode="single" [(selection)]="selectedClient" dataKey="_id"

            [responsive]="true"
            [resizableColumns]="true"
            [multiSortMeta]="multiSortMeta"

            [reorderableColumns]="true"
            [contextMenu]="cm"

            [paginator]="true"
            [rows]="rows"
            [rowsPerPageOptions]="[10,20,30]"
            [(first)]="first"

            [lazy]="true"
            (onLazyLoad) = "loadData($event)"
            [totalRecords]="totalRecords"

            scrollHeight="200px"
            [style]="{'overflow':'visible'}">
              <p-header>
                <div class="ui-g form-group">
                  <div class="ui-g-12 ui-md-6">
                    <div style="float:left">
                      <button icon="ui-icon-file-download" pButton type="button" (click)="dt.exportCSV()" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" pTooltip="{{'export_csv'|translate}}" tooltipPosition="top"></button>
                      <p-multiSelect
                        class="fixed-multiSelect"
                        defaultLabel="{{'select_an_item'|translate}}"
                        [selectedItemsLabel]="selectedItemsLabel"
                        [options]="columnOptions"
                        [(ngModel)]="cols"></p-multiSelect>
                    </div>
                  </div>

                  <div class="ui-g-12 ui-md-6">
                    <div class="ui-inputgroup" style="float:right">
                      <span class="md-inputfield fixed-form" style="margin-top:12px">
                        <input #gb pInputText type="text" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                        <label style="color: #ffffff">{{'filter'|translate}}</label>
                      </span>
                      <i class="fa fa-search" style="margin-top:10px"></i>
                    </div>
                  </div>
                </div>
              </p-header>
              <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header" [style]="{'width': col.width}" sortable="true"></p-column>
          </p-dataTable>

          <!--
            TESTING TURBO TABLE
            PENDING FORMAT THEN CONTEXT MENU
          -->
          <!-- <p-table
            #dt
            [columns]="selectedColumns"
            [value]="clients"

            [lazy]="true"
            (onLazyLoad) = "loadData($event)"
            [loading]="loading"

            [paginator]="true"
            [rows]="rows"
            [totalRecords]="totalRecords"
            [rowsPerPageOptions]="[10,20,30]"
            [(first)]="first"

            selectionMode="single"
            [(selection)]="selectedClient"
            dataKey="_id"

            [responsive]="true"
            [resizableColumns]="true"
            sortMode="multiple"

            [reorderableColumns]="true"
            [(contextMenuSelection)]="selectedClient"
            [contextMenu]="cm"

            scrollHeight="200px"
            [style]="{'overflow':'visible'}">

            <ng-template pTemplate="caption">
              <p-header>
                <div class="ui-g form-group">
                  <div class="ui-g-12 ui-md-6">
                    <div style="float:left">
                      <button icon="ui-icon-file-download" pButton type="button" (click)="dt.exportCSV()" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" pTooltip="{{'export_csv'|translate}}" tooltipPosition="top"></button>
                      <p-multiSelect
                        class="fixed-multiSelect"
                        [options]="columnOptions"
                        [(ngModel)]="selectedColumns"
                        [selectedItemsLabel]="selectedItemsLabel"
                        [style]="{minWidth: '200px'}"
                        defaultLabel="{{'select_an_item'|translate}}">
                      </p-multiSelect>
                    </div>
                  </div>

                  <div class="ui-g-12 ui-md-6">
                    <div class="ui-inputgroup" style="float:right">
                      <span class="md-inputfield fixed-form" style="margin-top:12px">
                        <input #gb pInputText type="text" class="ui-inputtext ui-corner-all ui-state-default ui-widget" (input)="dt.filterGlobal($event.target.value, 'contains')">
                        <label style="color: #ffffff">{{'filter'|translate}}</label>
                      </span>
                      <i class="fa fa-search" style="margin-top:10px"></i>
                    </div>
                  </div>
                </div>
              </p-header>

            </ng-template>

            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns" [style]="{'width': col.width}">{{col.header}}</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr>
                <td *ngFor="let col of columns">{{rowData[col.field]}}</td>
              </tr>
            </ng-template>

          </p-table>
          <p-contextMenu #cm [model]="items"></p-contextMenu> -->
        </div>

      </div>
    </div>
  </div>
</div>
