<h-table 
  *ngIf="listType"
  [module] = "module"
  [actionSerial] = "actionSerial"
  [cols] = "cols"
  [selectedColumns] = "selectedColumns"
  [selectedItemsLabel] = "selectedItemsLabel"
  [columnOptions] = "columnOptions"
  [body] = "gkClients | async"
  (onPageChange)="doSomething($event)">
</h-table>

<h-data-grid
  *ngIf="!listType"
  [module] = "module"
  [actionSerial] = "actionSerial"
  [cols] = "cols"
  [selectedColumns] = "selectedColumns"
  [selectedItemsLabel] = "selectedItemsLabel"
  [columnOptions] = "columnOptions"
  [body] = "gkClients | async"
  (onPageChange)="doSomething($event)">
</h-data-grid>
