<div class="layout-topbar">
  <img alt="logo" class="mobile-logo" src="./assets/images/logo/logo-slim.png">

  <!--Sidebar toggle in mobile layout-->
  <a class="menu-btn" href="#">
    <i class="material-icons" appLayoutSidebarToggleMobileMode></i>
  </a>

  <a class="topbar-menu-btn" href="#">
    <i class="material-icons" appNavProfileMobile></i>
  </a>
  <!--./Sidebar toggle in mobile layout-->

  <div class="layout-topbar-menu-wrapper">
    <ul id="profile-item-mobile" class="topbar-menu fadeInDown">

      <!-- PROFILE MENU -->
      <li id="profile-item" class="profile-item" appNavProfile>
        <a href="#">
          <span class="profile-image-wrapper">
            <img [src]="avatar">
          </span>
          <span class="topbar-item-name profile-name">{{fullname}}</span>
        </a>

        <ul class="fadeInDown">
          <li role="menuitem">
            <a href="#" (click)="gotoTcode('profile')">
              <i class="material-icons">account_circle</i>
              <span>{{'profile'|translate}}</span>
            </a>
          </li>
          <li role="menuitem">
            <a href="#" (click)="gotoTcode('policy')">
              <i class="material-icons">verified_user</i>
              <span>{{'policy'|translate}}</span>
            </a>
          </li>
          <li role="menuitem">
            <a href="#" (click)="gotoTcode('theme')">
              <i class="material-icons">color_lens</i>
              <span>{{'themes'|translate}}</span>
            </a>
          </li>
          <li role="menuitem">
            <a href="#" (click)="gotoTcode('setting')">
              <i class="material-icons">settings_application</i>
              <span>{{'settings'|translate}}</span>
            </a>
          </li>
          <li role="menuitem">
            <a href="#" (click)="gotoTcode('lockscreen')">
              <i class="material-icons">lock</i>
              <span>{{'lock_system'|translate}}</span>
            </a>
          </li>
          <li role="menuitem">
            <a href="#" (click)="logOut(); false">
              <i class="material-icons">exit_to_app</i>
              <span>{{'logout'|translate}}</span>
            </a>
          </li>
        </ul>
      </li>
      <!-- ./PROFILE MENU -->

      <!-- WORKING BAR -->
      <li id="setting-item">
        <!-- appNavSetting -->
        <a href="#" (click)="toggleWkBar(); false">
          <i *ngIf="currentWkBarStatus" class="topbar-icon material-icons">layers</i>
          <i *ngIf="!currentWkBarStatus" class="topbar-icon material-icons">layers_clear</i>
          <span class="topbar-item-name">Settings</span>
        </a>
      </li>
      <!-- WORKING BAR -->

      <!-- LANGUAGE -->
      <li id="language-item" appNavLanguage>
        <a href="#">
          <i class="topbar-icon material-icons">language</i>
          <span class="topbar-badge animated rubberBand">{{lang}}</span>
          <span class="topbar-item-name">Language</span>
        </a>
        <ul class="fadeInDown">
          <li role="menuitem">
            <a href="#" (click)="changeLanguage('en'); false">
              <img src="assets/modules/lang/en_square.svg" class="img-flag"/>
              <span>{{'langEnglish'|translate}}</span>
            </a>
          </li>
          <li role="menuitem">
            <a href="#" (click)="changeLanguage('vn'); false">
              <img src="assets/modules/lang/vn_square.svg" class="img-flag"/>
              <span>{{'langVietnamese'|translate}}</span>
            </a>
          </li>
          <li role="menuitem">
            <a href="#" (click)="changeLanguage('jp'); false">
              <img src="assets/modules/lang/jp_square.svg" class="img-flag"/>
              <span>{{'langJapanese'|translate}}</span>
            </a>
          </li>
          <li role="menuitem">
            <a href="#" (click)="changeLanguage('kr'); false">
              <img src="assets/modules/lang/kr_square.svg" class="img-flag"/>
              <span>{{'langKorean'|translate}}</span>
            </a>
          </li>
          <li role="menuitem">
            <a href="#" (click)="changeLanguage('ch'); false">
              <img src="assets/modules/lang/ch_square.svg" class="img-flag"/>
              <span>{{'langChinese'|translate}}</span>
            </a>
          </li>
          <li role="menuitem">
            <a href="#" (click)="changeLanguage('fr'); false">
              <img src="assets/modules/lang/fr_square.svg" class="img-flag"/>
              <span>{{'langFrench'|translate}}</span>
            </a>
          </li>
        </ul>
      </li>
      <!-- ./LANGUAGE -->

      <!-- MESSAGE -->
      <li id="message-item" appNavMessage>
        <a href="#">
          <i class="topbar-icon material-icons animated swing"></i>
          <span class="topbar-badge animated rubberBand">5</span>
          <span class="topbar-item-name">Messages</span>
        </a>
        <ul class="fadeInDown">
          <li role="menuitem">
            <a class="topbar-message" href="#">
              <img src="./assets/images/avatar1.png" width="35">
              <span>Give me a call</span>
            </a>
          </li>
          <li role="menuitem">
            <a class="topbar-message" href="#">
              <img src="./assets/images/avatar2.png" width="35">
              <span>Sales reports attached</span>
            </a>
          </li>
          <li role="menuitem">
            <a class="topbar-message" href="#">
              <img src="./assets/images/avatar3.png" width="35">
              <span>About your invoice</span>
            </a>
          </li>
          <li role="menuitem">
            <a class="topbar-message" href="#">
              <img src="./assets/images/avatar2.png" width="35">
              <span>Meeting today at 10pm</span>
            </a>
          </li>
          <li role="menuitem">
            <a class="topbar-message" href="#">
              <img src="./assets/images/avatar4.png" width="35">
              <span>Out of office</span>
            </a>
          </li>
        </ul>
      </li>
      <!-- ./MESSAGE -->

      <!-- NOTIFICATION -->
      <li id="notification-item" class="" appNavNotification>
        <a href="#">
          <i class="topbar-icon material-icons">notifications</i>
          <span class="topbar-badge animated rubberBand"> {{notificationCount}}</span>
          <span class="topbar-item-name">Notifications</span>
        </a>
        <ul class="fadeInDown" *ngIf="notificationsList">
          <li role="menuitem" *ngFor="let item of notificationsList">
            <a href="#" (click)="openNotification(item);">
              <i class="material-icons">{{item.icon}}</i>
              <span *ngIf="item.isMark"><b>{{item.desc}}</b></span>
              <span *ngIf="!item.isMark">{{item.desc}}</span>
            </a>
          </li>

          <li role="menuitem">
            <a href="#" (click)="gotoTcode('notification');" style="text-align: center; font-weight: bold">
              <span>{{'view_all'|translate}}</span>
            </a>
          </li>
        </ul>
      </li>
      <!-- ./NOTIFICATION -->

      <!-- TRANSACTION CODE -->
      <li class="search-item">
        <form (keydown)="keyDownFunction($event)">
          <span class="md-inputfield">
            <input pInputText type="text" [(ngModel)]="tcodeExecution" name="tcode" class="ui-inputtext ui-corner-all ui-state-default ui-widget" [ngClass]="{'ui-state-filled': (tcodeExecution.length >0)}">
            <label>{{'transactionCode'|translate}}</label>
            <i class="topbar-icon material-icons">navigation</i>
          </span>
        </form>
      </li>
      <!-- ./TRANSACTION CODE -->

    </ul>
  </div>
</div>
