.ui-progressbar-indeterminate {
  background-color: red !important;
}

.ui-progressbar-indeterminate .ui-progressbar-value::before {
  background-color: red !important;
}

.ui-progressbar-indeterminate .ui-progressbar-value::after {
  background-color: red !important;
}
