<div id="layout-wrapper" class="layout-wrapper layout-wrapper-static">  <!-- static: layout-wrapper-static; overlay menu: -->
  <div id="layout-sidebar" class="layout-sidebar" gkLayoutSidebarToggleWebMode>     <!-- mouseenter: layout-sidebar-active; mouseleave: -->
    <gk-logo></gk-logo>
    <gk-sidebar-wrapper></gk-sidebar-wrapper>
  </div>

  <div class="layout-main">
    <div class="layout-topbar">
      <gk-header></gk-header>
    </div>

    <gk-breadcrumbs></gk-breadcrumbs>

    <gk-working></gk-working>

    <p-progressBar *ngIf="blocked" mode="indeterminate" [style]="{'height': '4px'}"></p-progressBar>
    <div *ngIf="!blocked" class="ui-helper-clearfix" style="height: 4px;"></div>

    <ng2-toasty [position]="toastyPosition"></ng2-toasty>

    <p-sidebar *ngIf="!sbFullScreen" [(visible)]="sbVisibility" [position]="sbPosition" [styleClass]="sbSizeList[sbSize]" [baseZIndex]="999999">
        <h1 style="font-weight:normal">{{sbTitle}}</h1>
    </p-sidebar>

    <p-sidebar *ngIf="sbFullScreen" [(visible)]="sbVisibility" [fullScreen]="true" [baseZIndex]="999999">
        <h1 style="font-weight:normal">{{sbTitle}}</h1>
    </p-sidebar>

    <div class="layout-content">

      <div class="ui-g ui-fluid">
        <div class="ui-g-12">
          <!-- System wide alert -->
          <div class="ui-messages ui-widget ui-corner-all ui-messages-{{msgStatus}}" style="margin: 0 0 1em 0; display: block">
            <!-- ui-messages-warn ui-messages-error ui-messages-fatal ui-messages-success -->
              <span class="ui-messages-icon fa fa-fw fa-2x fa-check"></span>
              <ul>
                <li>
                  <span class="ui-messages-summary" style="font-size:16px">
                    {{msgContent}}
                  </span>
                </li>
            </ul>
          </div>
        </div>
      </div>

      <router-outlet></router-outlet>

    </div>

    <div class="fixed-layout-footer">
      <gk-footer></gk-footer>
    </div>
  </div>
</div>
