<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="card">
      <div class="ui-g">

        <div class="ui-g-12">
          <p-tabView>
            <p-tabPanel header="GK Licence">
               Content 1
            </p-tabPanel>
            <p-tabPanel header="Other Licences">
                Content 2
            </p-tabPanel>
          </p-tabView>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- <div class="ui-g">
  <div class="ui-g-12">

    <div class="box box-primary">
      <div class="box-body">

      </div>
    </div>

  </div>
</div> -->
