<div class="ui-g dashboard">
  <!--  SCHEDULE -->
  <div class="ui-g-12 ui-md-8 ui-lg-8 schedule">
    <p-panel header="{{'calendar'|translate}}">
      <p-schedule
          [events]="events"
          [header]="header"
          [locale]="locale"
          defaultDate="2017-02-01"
          [eventLimit]="4"
          [editable]="true"
          (onDayClick)="handleDayClick($event)"
          (onEventClick)="handleEventClick($event)">
      </p-schedule>

      <p-dialog header="{{'event_details'|translate}}" [(visible)]="dialogVisible" [responsive]="true" showEffect="fade" [modal]="false" [contentStyle]="{'overflow':'visible'}"
          [style]="{'overflow':'visible'}" [resizable]="false">
          <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="event">
              <div class="ui-grid-row">
                  <div class="ui-grid-col-4"><label for="vin">{{'title'|translate}}</label></div>
                  <div class="ui-grid-col-8"><input pInputText id="title" [(ngModel)]="event.title" /></div>
              </div>
              <div class="ui-grid-row">
                  <div class="ui-grid-col-4"><label for="start">{{'start'|translate}}</label></div>
                  <div class="ui-grid-col-8"><p-calendar [(ngModel)]="event.start" dateFormat="yy-mm-dd" dataType="string"></p-calendar></div>
              </div>
              <div class="ui-grid-row">
                  <div class="ui-grid-col-4"><label for="end">{{'end'|translate}}</label></div>
                  <div class="ui-grid-col-8"><p-calendar [(ngModel)]="event.end" dateFormat="yy-mm-dd" dataType="string"></p-calendar></div>
              </div>
              <div class="ui-grid-row">
                  <div class="ui-grid-col-4"><label for="allday">{{'all_day'|translate}}</label></div>
                  <div class="ui-grid-col-8"><p-checkbox [(ngModel)]="event.allDay" binary="checkbox"></p-checkbox></div>
              </div>
          </div>
          <p-footer>
              <div class="ui-dialog-buttonpane ui-helper-clearfix">
                  <button type="button" pButton icon="fa-close" (click)="deleteEvent()" [disabled]="!event?.id" label="{{'delete'|translate}}"></button>
                  <button type="button" pButton icon="fa-check" (click)="saveEvent()" [disabled]="!event?.start" label="{{'save'|translate}}"></button>
              </div>
          </p-footer>
      </p-dialog>
    </p-panel>
  </div>

  <!--  TASKS -->
  <div class="ui-g-12 ui-md-4 ui-lg-4">
    <h-task-list
      header="{{'tasks'|translate}}"
      [menuItems]="items"
      [taskList]="taskList"
      [todos]="todos | async"
      [gkClients] = "gkClients | async">
    </h-task-list>

  </div>

</div>
